/.ipynb_checkpoints
/dev/__pycache__
/dev/.ipynb_checkpoints
/dev/MotionRetargetingPaper-1_files
/dev/*.log
/dev/*.aux
/dev/*.bbl
/dev/*.blg
/dev/*.out
/deliver/__pycache__
/deliver/.ipynb_checkpoints
